<header id="site-bg" class="site-head bg-0">
    <div class="vertical">
        <div class="site-head-content inner">
            <a class="blog-logo animated bounceIn" id="site-head-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="UTAU" /></a>
            <h2 class="blog-description animated bounceIn">
                University of Toronto</br>
                Asians' Union
            </h2>
            <span class="blog-social facebook animated bounceIn">
                <a href="https://www.facebook.com/UTAU13">
                    <i class="fa fa-facebook fa-fw"></i>
                </a>
            </span>
            <span class="blog-social twitter animated bounceIn">
                <a href="#">
                    <i class="fa fa-twitter fa-fw"></i>
                </a>
            </span>
            <span class="blog-social google-plus animated bounceIn">
                <a href="#">
                    <i class="fa fa-google-plus fa-fw"></i>
                </a>
            </span>
            <span class="blog-social rss animated bounceIn">
                <a href="{{@blog.url}}/rss">
                    <i class="fa fa-rss fa-fw"></i>
                </a>
            </span>
        </div>
        <div class="site-nav">
            <nav class="blog-nav">
                <a href="{{@blog.url}}/who-are-we" class="n1 animated fadeInLeft">Who Are We</a>
                <a href="{{@blog.url}}/tag/Event" class="n2 animated fadeInLeft">Events</a>
                <a href="#" class="n3 animated fadeInLeft">Opportunities</a>
                <a href="#" class="n4 animated fadeInLeft">Gallery</a>
                <a href="#" class="n5 animated fadeInLeft">Contact Us</a>
            </nav>
        </div>
    </div>
</header>

<header class="hidden-xs" id="site-mini-header">
    <a class="site-mini-home" href="{{@blog.url}}"><img class="site-mini-logo" src="{{@blog.logo}}"/> <span class="site-mini-title hidden-xs hidden-sm hidden-md">University of Toronto Asians' Union</span></a>
    <nav class="site-mini-nav">
        <ul class="site-mini-links">
            <a href="{{@blog.url}}/who-are-we"><li class="site-mini-link">
                Who Are We
            </li></a>
            <a href="{{@blog.url}}/tag/Event"><li class="site-mini-link">
                Events
            </li></a>
            <a href="#"><li class="site-mini-link">
                Opportunities
            </li></a>
            <a href="#"><li class="site-mini-link">
                Gallery
            </li></a>
            <a href="#"><li class="site-mini-link">
                Contact Us
            </li></a>
        </ul>
    </nav>
    <div class="site-mini-social">
        <a href="https://www.facebook.com/UTAU13">
            <i class="fa fa-facebook-square fa-fw"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter-square fa-fw"></i>
        </a>
        <a href="#">
            <i class="fa fa-google-plus-square fa-fw"></i>
        </a>
        <a href="{{@blog.url}}/rss">
            <i class="fa fa-rss-square fa-fw"></i>
        </a>
    </div>
</header>