<header class="site-head">
  <div class="site-head-content">
    <div class="site-head-brand">
      <a class="blog-logo" id="site-head-logo" href="{{@blog.url}}">
        <img src="{{@blog.logo}}" alt="UTAU" />
        <h2 class="university-of-toronto">University of Toronto </h2>
        <h2 class="asian-union">Asians' Union</h2>
      </a>
    </div>
    <nav class="site-head-links">
      <a href="{{@blog.url}}/about-us">About Us</a>
      <a href="{{@blog.url}}/calendar">Calendar</a>
      <!-- <a href="{{@blog.url}}/tag/opportunities">Opportunities</a> -->
      <!-- <a href="{{@blog.url}}/under-construction">Gallery</a> -->
    </nav>
  </div>
</header>

<header class="hidden-xs" id="site-mini-header">
  <div class="site-mini-header-wrapper">
    <a class="site-mini-home" href="{{@blog.url}}"><img class="site-mini-logo" src="{{@blog.logo}}"/> <span class="site-mini-title hidden-xs hidden-sm hidden-md">University of Toronto Asians' Union</span></a>
    <div class="site-mini-social">
        <a href="https://www.facebook.com/UTAU13">
            <i class="fa fa-facebook-square fa-fw"></i>
        </a>
        <!-- <a href="https://www.twitter.com/utau"> -->
        <!--     <i class="fa fa-twitter-square fa-fw"></i> -->
        <!-- </a> -->
        <a href="{{@blog.url}}/rss">
            <i class="fa fa-rss-square fa-fw"></i>
        </a>
    </div>
    <nav class="site-mini-nav">
        <ul class="site-mini-links">
            <a href="{{@blog.url}}/about-us"><li
              class="site-mini-link">About Us</li></a>
            <a href="{{@blog.url}}/tag/events"><li class="site-mini-link">Events</li></a>
            <!-- <a href="{{@blog.url}}/tag/opportunities"><li class="site-mini-link">Opportunities</li></a> -->
            <!-- <a href="{{@blog.url}}/under-construction"><li class="site-mini-link">Gallery</li></a> -->
        </ul>
    </nav>
  </div>
</header>
