<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Favicon }}
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}" type="image/x-icon">
    <link rel="icon" href="{{asset "/favicon.ico"}}" type="image/x-icon">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/site-prod.css"}}" />
    <link rel="stylesheet" href="{{asset "css/font-awesome.css"}}">
    <link rel="stylesheet" href="{{asset "css/animate.css"}}">

    {{! Google Fonts }}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script type="text/javascript" src={{asset "js/html5shiv.min.js"}}"></script>
        <script type="text/javascript" src={{asset "js/respond.min.js"}}"></script>
    <![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="fb-root"></div>

    {{! The big featured header on the homepage, with the site logo and description }}
    {{> header}}

    <section class="site-content" id="content">
        {{#if true}}<div class="site-affiliates">
            <div class="site-affiliates-title animated fadeIn">UTAU Partners</div>
            <a href="http://www.rocsaut.ca/"><img class="site-affiliate rocsaut animated bounceIn" src="{{asset "img/rocsaut.png"}}"></img></a>
            <a href="https://www.facebook.com/uoft.utkcc"><img class="site-affiliate utkcc animated bounceIn" src="{{asset "img/utkcc.jpg"}}"></img></a>
            <a href="http://utvsa.sa.utoronto.ca/"><img class="site-affiliate uvsa animated bounceIn" src="{{asset "img/uvsa.jpg"}}"></img></a>
            <a href="http://aiesec.ca/"><img class="site-affiliate aiesec animated bounceIn" src="{{asset "img/aiesec.png"}}"></img></a>
            <a href="http://eassu.sa.utoronto.ca/"><img class="site-affiliate eassu animated bounceIn" src="{{asset "img/eassu.jpg"}}"></img></a>
            <a href="http://utcassu.com/"><img class="site-affiliate cassu animated bounceIn" src="{{asset "img/cassu.png"}}"></img></a>
            <a href="http://socialspark.com/"><img class="site-affiliate socialspark animated bounceIn" src="{{asset "img/socialspark.jpg"}}"></img></a>
            <a href="https://www.facebook.com/pages/utcva/129733323811463"><img class="site-affiliate utcva animated bounceIn" src="{{asset "img/utcva.jpg"}}"></img></a>
        </div>
        {{/if}}
        {{{body}}}
    </section>

    {{> footer}}

    <section class="site-copyright">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a> All rights reserved. Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a>.</section>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/parserss-jquery.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/sugar-date-1.3.9.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/plax.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
