{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="post-content about-us">
        <ul class="about-us-links">
          <li id="btn-get-to-know-us"><span class="glyphicon glyphicon-comment"></span>Get to know us</li>
          <li id="btn-our-team"><span class="glyphicon glyphicon-user"></span>Our Team</li>
          <li id="btn-founders-letter"><span class="glyphicon glyphicon-envelope"></span>Founder's letter</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <main id="get-to-know-us" class="content" role="main">
        <article class="{{post_class}}">

          <header class="post-header">
              <div class="post-meta"><h2 class="post-title">Get to know us</h2></div>
          </header>
          <section class="post-content">
            UTAU (University of Toronto’s Asians’ Union) is the University of Toronto’s first student-run organization founded to unite the Asian community on campus and off. UTAU aims to bridge the gap between all Asian communities within the University to facilitate increased communication and collaboration. It is our mission to strengthen student organizations by creating valuable networks and partnerships. We hope that in uniting such a diverse community, we can inspire and educate young professionals to make a difference beyond their years at University. Planning for UTAU began in 2012 and was officially founded in September of 2013.
          </section>
          <footer class="post-footer">
              <div class="clearfix"></div>
          </footer>

        </article>
      </main>

      <main id="our-team" class="content" role="main">
        <article class="{{post_class}}">

          <header class="post-header">
              <div class="post-meta"><h2 class="post-title">Board of Directors</h2></div>
          </header>
          <section class="post-content">
            <div class="row">
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/daniel-nguyen.png"}}"></img>
                  <div class="profile-card-name">Daniel Nguyen</div>
                  <div class="profile-card-position">Founder</div>
                  <div class="profile-card-year">Year 4</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/yu-bin.png"}}"></img>
                  <div class="profile-card-name">Yu Bin</div>
                  <div class="profile-card-position">External Director</div>
                  <div class="profile-card-year">Graduated</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/angela-ou.png"}}"></img>
                  <div class="profile-card-name">Angela Ou</div>
                  <div class="profile-card-position">Internal Director</div>
                  <div class="profile-card-year">Year 4</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/jaehyun-lee.png"}}"></img>
                  <div class="profile-card-name">Jaehyun Lee</div>
                  <div class="profile-card-position">Marketing Co-director</div>
                  <div class="profile-card-year">Year 2</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/levi-pham.png"}}"></img>
                  <div class="profile-card-name">Levi Pham</div>
                  <div class="profile-card-position">Marketing Co-director</div>
                  <div class="profile-card-year">Year 3</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="profile-card">
                  <img src="{{asset "img/claudia-sim.png"}}"></img>
                  <div class="profile-card-name">Claudia Sim</div>
                  <div class="profile-card-position">Secretary</div>
                  <div class="profile-card-year">Year 3</div>
                </div>
              </div>
            </div>
          </section>
          <footer class="post-footer">
              <div class="clearfix"></div>
          </footer>

        </article>
      </main>

      <main id="founders-letter" class="content" role="main">
        <article class="{{post_class}}">

          <header class="post-header">
              <div class="post-meta"><h2 class="post-title">Founder's Letter</h2></div>
          </header>
          <section class="post-content">
            <h4>Introduction</h4>
            <p>UTAU is not like other student run organizations. We focus on creating strong, lasting relationships with our partners in hopes that our union can create opportunities for the Asian community. We firmly believe that the combined product of our union will be greater than the sum of our efforts individually.  And it is our hopes that we can, in time, become the voice of a diverse and vibrant community that has so much to offer.</p>

            <h4>Executive Team</h4>
            <p>Our team is motivated by the limitless potential for growth that our organization carries with it. Our executives are encouraged to be creative, think and act outside their sphere of comfort, and take their experiences with them outside the meeting room to benefit others. We recognize the impact that we can have not only on the University and the Asian community in Toronto, but in the future, Asian communities in universities across Canada, and we take pride in this.</p>
            <p>To provide consistent output of quality ideas we have individual team meetings at least once a week, followed by a regular meeting at the end of the week, with continuous meetings of the directors to update each other on the organization and projects. Last year, I was fortunate enough to be able to meet almost every day with my Co-Founder Joey Ma, our relationship allowed us to refine our ideas and work efficiently on projects. With Joey moving to Korea, this process will be shared with my four directors, who I respect and trust tremendously. Our differing and unique personalities will ensure that our ideas reflect our organizations’ ideals as a whole, rather than just my own. </p>

            <h4>Organizational Structure</h4>
            <p>Our organization is designed with a strong foundation and clear goals: to unite the Asian community at the University of Toronto in hopes that the result will be greater than the simple sum of its parts. We plan to continue operation for the long-run with stability, innovation, and growth.</p>
            <p>We know that becoming an important institution and significant part of University life takes time, and stability. Therefore, to relieve the effects of member turnover resulting from graduation, the Board of Directors composed of founding members, will continue to hold considerable influence on the organization’s proceedings.</p>

            <h4>Long Term Vision</h4>
            <p>When Joey and I founded UTAU our goals we much simpler than they are now. Over the course of the year, with the reception that UTAU received, we were able to see the potential for growth in the long-run. Our plans for UTAU now extend far beyond our graduations. We forecast that UTAU will be able to expand into other Universities within the year, and mirror North American Asian Students Union in the U.S. Our team members, who are recruited not only for their skill and talents, but for their desire and enthusiasm to improve the Asian community naturally gravitate to this opportunity.</p>

            <h4>Conclusion</h4>
            <p>UTAU will continue to work with our partners on initiatives that benefit the community, foster innovation through our diverse community, and most importantly unite a community full of brilliant minds. Joey and I hope to continue writing this letter to you each year to update you on our projects and plans.</p>
            <p>We will continue doing our best to be the bridge that can unite the Asian community, and provide career and life opportunities for all our members while honouring our commitment to our sponsors, partners, and members.</p>

          </section>
          <footer class="post-footer">
              <div class="clearfix"></div>
          </footer>

        </article>
      </main>
    </div>
	</div>
</div>
